body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #001f4d;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.header-title {
    animation: fadeInDown 2s;
}

@keyframes darkerPastelPalette {
    0% { background-color: #8aa2c8; } /* Darker Pastel Blue */
    25% { background-color: #a3b8d9; } /* Muted Sky Blue */
    50% { background-color: #b8cfe2; } /* Soft Steel Blue */
    75% { background-color: #cbdde6; } /* Pale Blue Gray */
    100% { background-color: #dce7f0; } /* Light Mist Blue */
}
  
@keyframes darkerPastelPaletteMovement {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
  
.banner {
    background: linear-gradient(90deg, #8aa2c8, #a3b8d9, #b8cfe2, #cbdde6, #dce7f0);
    background-size: 400% 400%;
    animation: darkerPastelPaletteMovement 15s ease infinite, darkerPastelPalette 10s ease infinite;
    color: #2a2a2a; /* Darker gray for better contrast */
    padding: 4rem 0;
    text-align: center;
}




.blockquote {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}

.content {
    padding: 2rem;
    text-align: center;
}

section {
    margin-bottom: 2rem;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    color: #333;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.profile-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    animation: profileFadeIn 2s;
}

@keyframes profileFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.card-text strong {
    font-weight: bold;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-links {
    text-align: center;
    padding: 1rem 0;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-links a:hover {
    transform: scale(1.1);
}

.social-links img {
    width: 40px;
    height: 40px;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 1rem;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268;
}


.skill {
    margin-bottom: 1rem;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #B4B4B8;
    transition: width 0.6s ease;
}


.progress-bar.easy-ctf{
    background-color: #98D8AA;
    transition: width 0.6s ease;
}


.progress-bar.medium-ctf{
    background-color: #F7D060;
    transition: width 0.6s ease;
}


.progress-bar.hard-ctf{
    background-color: #FF6D60;
    transition: width 0.6s ease;
}


.card-title {
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 0.5rem;
}

#background {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    text-align: left;
}

#background h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    color: #333;
}

#background p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #555;
}

#credentials {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    text-align: left;
}

#credentials h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    color: #333;
}

#timeline-container {
    overflow-x: auto;
    padding-bottom: 1rem;
}

.timeline {
    display: flex;
    position: relative;
    padding: 2rem 0;
    list-style: none;
    white-space: nowrap;
}

.timeline-item {
    display: inline-block;
    width: 300px;
    position: relative;
    margin-right: 2rem;
    text-align: center;
}

.timeline-item .circle {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0.5rem;
    position: relative;
}

.timeline-item .circle:hover {
    background-color: #ddd;
}

.timeline-item .content {
    display: none;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    white-space: normal;
}

.timeline-item:hover .content {
    display: block;
}

.timeline-item .timeline-label {
    margin-bottom: 1rem;
    font-weight: bold;
}

.certificate-img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 4px;
}


#timeline-container {
    overflow-x: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#timeline-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


.animated-navbar {
    background-color: #003366; /* Initial Dark Blue */
    overflow: hidden;
}

@keyframes bgColorChange {
    0% { background-color: #001f4d; }    /* Dark Blue */
    25% { background-color: #003366; }   /* Midnight Blue */
    50% { background-color: #004c99; }   /* Deep Blue */
    75% { background-color: #66a3ff; }   /* Sky Blue */
    100% { background-color: #b3d9ff; }  /* Light Sky Blue */
}


.projects-gallery {
    padding: 40px 0;
    background-color: #f8f9fa;
    overflow: hidden; /* Hide overflowing content */
    position: relative;
}

.projects-gallery .row {
    display: flex;
    transition: transform 0.5s linear;
    overflow-x: scroll;
    padding: 0.5rem;
}




.projects-gallery .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-gallery .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.projects-gallery .btn-secondary {
    background-color: #8aa2c8;
    border: none;
    transition: background-color 0.3s ease;
}

.projects-gallery .btn-secondary:hover {
    background-color: #003366;
}


/* CTF Progress Section Styles */
#ctf {
    padding: 15px;
    font-family: Arial, sans-serif;
}

#ctf h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Grid Layout for Progress Categories */
#ctf .progress-category {
    margin-bottom: 30px;
}

/* Two-column grid layout */
#ctf .progress-category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 20px; /* Space between columns */
}

.progress-category h5 {
    font-size: 1rem;
    margin-bottom: 8px;
}

.progress-bar-background {
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 8px;
    height: 10px; /* Reduce height of the progress bar */
}

.progress-bar {
    height: 100%; /* Ensure the progress bar fills the container */
    font-size: 1rem; /* Smaller text within the bar */
    padding: 3px; /* Reduce padding for better fit */
    color: #000; /* Text color for readability */
}

/* Individual Progress Bar Colors */
#overall-progress {
    background-color: #aec6ff; /* Light pastel blue */
}

#web-exploitation-progress {
    background-color: #b0e57c; /* Light pastel green */
}

#reverse-engineering-progress {
    background-color: #ffecb3; /* Light pastel yellow */
}

#cryptography-progress {
    background-color: #a2d5f2; /* Light pastel cyan */
}

#general-skills-progress {
    background-color: #d4d4dc; /* Light pastel gray */
}

#binary-exploitation-progress {
    background-color: #f9b2b2; /* Light pastel red */
}

#forensics-progress {
    background-color: #ffd1a9; /* Light pastel orange */
}

.progress-category article p {
    font-size: 0.875rem; /* Reduce text size in the article */
    margin-top: 5px;
}

/* Adjusted color gradients */
#js-progress {
    background: linear-gradient(90deg, #f0db4f, #f7df1e); /* JavaScript: Yellow gradient */
}

#python-progress {
    background: linear-gradient(90deg, #306998, #4b8bbe); /* Python: Blue to light blue gradient */
}

#php-progress {
    background: linear-gradient(90deg, #4f5b93, #8993be); /* PHP: Purple gradient */
}


/* Color gradients based on coding language colors */
#html-progress {
    background: linear-gradient(90deg, #e44d26, #f16529); /* HTML: Orange gradient */
}

#css-progress {
    background: linear-gradient(90deg, #264de4, #2965f1); /* CSS: Blue gradient */
}

#react-progress {
    background: linear-gradient(90deg, #61dafb, #21a1f1); /* React: Cyan gradient */
}

#django-progress {
    background: linear-gradient(90deg, #092e20, #2c5234); /* Django: Dark green gradient */
    color: white;
}

/* Color gradients for database management skills */
#sql-progress {
    background: linear-gradient(90deg, #00758f, #00a3e0); /* SQL: Teal to blue gradient */
}

#postgres-progress {
    background: linear-gradient(90deg, #336791, #5294e2); /* PostgreSQL: Dark blue to light blue gradient */
}

#mongodb-progress {
    background: linear-gradient(90deg, #4db33d, #239a3b); /* MongoDB: Light green to dark green gradient */
}

/* Color gradient for Bootstrap */
#bootstrap-progress {
    background: linear-gradient(90deg, #563d7c, #7952b3); /* Bootstrap: Dark purple to light purple gradient */
    color: white;
}

/* Color gradients for Diagrams and Modeling skills */
#uml-progress {
    background: linear-gradient(90deg, #ff5722, #ff8a65); /* UML: Orange gradient */
}

#dfd-progress {
    background: linear-gradient(90deg, #607d8b, #78909c); /* Dataflow Diagrams: Gray-blue gradient */
}

#figma-progress {
    background: linear-gradient(90deg, #0acf83, #a259ff); /* Figma: Green to purple gradient */
}

/* Responsive Design for Smaller Screens */
@media (max-width: 767.98px) {
    #ctf .progress-category-container {
        grid-template-columns: 1fr; /* Switch to a single column on smaller screens */
    }
}


article {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}




/* Responsive Design */
@media (max-width: 767.98px) {
    .projects-gallery .row {
        display: flex;
        flex-direction: column;
    }
    
    .projects-gallery .col-md-4 {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    
    .card {
        margin-bottom: 2rem;
        width: 80vw;
        font-size: small;
    }

     

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .projects-gallery .col-md-4 {
        flex: 0 0 48%;
        max-width: 48%;
        margin-bottom: 2rem;
    }
    
    .projects-gallery .row {
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .projects-gallery .col-md-4 {
        flex: 0 0 32%;
        max-width: 32%;
    }
}