/* Standardized dark theme for project detail pages */
body {
  background-color: #1A1A1A;
  color: #ccd0cf;
  font-family: 'Open Sans', sans-serif;
}



.hero {
  background-color: #36454F;
}

h1, h2, h3, h4, h5, h6 {
  color: #333  !important;
}

p, li, strong {
  color: #555 !important;
}

ul, ol {
  color: #ccd0cf;
}

pre {
  background-color: #2B2B2B;
  color: #ccd0cf;
  padding: 10px;
}

a.btn-outline-light.btn-secondary {
  border-color: #ffffff;
  color: #ffffff;
}

a.btn-outline-light.btn-secondary:hover {
  background-color: #ffffff;
  color: #0F0F0F;
}

footer {
  background-color: #2B2B2B;
  color: #ccd0cf;
}

footer a {
  color: #ccd0cf;
}

footer a:hover {
  color: #ffffff;
}

#blogHeader {
  color: #ccd0cf;
}



.projectHeader p, .projectHeader strong {
  color: #ccd0cf !important;
}

.projectHeader strong {
  font-weight: bold;
}
